* {
    font-family: Arial, Helvetica, sans-serif;
}

.alert {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 0.75rem;
    margin-bottom: 2rem;

    color: white;

    border: 2px solid rgba(0, 0, 0, 0.05);
    border-left: 6px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

.alert .title {
    font-weight: bold;
    font-size: 1.25rem;
}

.alert.alert-info {
    background-color: dodgerblue;
}

.alert.alert-warn {
    background-color: #eb9c0c;
}

.alert.alert-error {
    background-color: #d40e0e;
}

/* OVERRIDE MARKDOWN */
.alert ul {
    margin: 0 !important;
}

.alert code {
    border: 0 !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.alert a {
    color: white !important;
    text-decoration: underline !important;
    font-style: italic !important;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    color: white;
    background-color: dodgerblue;

    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;

    padding: 0.5rem;

    transition: filter 0.25s;
}
.button:hover {
    filter: brightness(110%);
}
.button:active {
    filter: brightness(95%);
}
.button:before {
    content: '⚙️';
    margin-right: 0.5rem;

    filter: grayscale(100%) brightness(200%) opacity(50%);
}

.quiz {
    border: 1px solid gainsboro;
    border-radius: 5px;

    padding: 1rem;
    margin-bottom: 1rem;
}